.App {
  text-align: center;
}

#apple {
  background-color:rgb(44, 58, 113);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-control-prev{
  z-index: 2;
}
.carousel-inner{
  z-index:-1;
}
.BackGround{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit:fill;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 572px;
    background:rgba(0,0,0,0.7);
}  
.navbar-nav {
  display:table;
  width:100%;
  margin: 0;
}
.navbar-nav > li {
  float:none;
  display:table-cell;
  text-align:center;
}

#to-form {
  color: black;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;

}

/* ----------------------------------- */
table, td, th {
  padding: 5px 12px;
}
.userProfile {
  width:80%;
  margin: 30px 10%;
  background-color: rgba(255,255,255,0.75);
  height: 85%;
  border-radius: 10px;
}

.left {
  width: 30%;
  border-right: 3px solid lightgrey;
  display: inline-block;
  text-align: center;
  color: black;
  height: 30%;
  
  margin-top: 20px;
  /* border-bottom: 3px solid lightgrey; */
  
}
.bottom {
  margin: 30px;
  width: 90%;
  display: inline-block;
  align-content:space-between;
  color: black;
  height: 65%;
  padding: 20px;
}

.right {
  width: 70%;
  /* border-bottom: 3px solid lightgrey; */
  display: inline-block;
  color: black;
  height: 30%;
  height: 30%;
  padding-left: 50px;
}

.profileImg {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  margin-top: 30px;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Poppins', sans-serif; */

  margin: 0;
}

html {
  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #425377;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.list {
  background-color: rgba(255,255,255,0.75);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  
}

.centered {
  text-align: center;
}

.attendClass {
  color: white;
  background-color: black;
  border-radius: 5px;
}
.attendClass:hover {
  color:black;
  background-color: white;
  box-shadow: grey;
}

.navbar-brand:hover {
  transform: scale(1.25)
}

.nav-area {
  box-shadow: 0px 0px 10px white;
}